* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5px;
}

body {
    background-color: rgb(255, 254, 189);
}

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title"
      "picture"
      "contents"
      "footer";
  }  

.titlebar {
    display: inline-block;
    text-decoration: underline;
    margin: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
    font-size: 48px;
}

img {
    position: static;
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    clip-path: inset(0px 0px 15px 0 round 25px);
}

p {
    margin: 5px 0 5px 0;
}

li {
    margin: 10px 0 10px 5px;
}

.footer {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.2em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: left;
}

.footer>a, a:link, a:visited, a:hover, a:active {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}